<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-8 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">A new era of visualization</h1>
      <p class="lead">Welcome to CollegeView, the innovator in all things college data. Explore our troves of data in unique ways and gather insights like never before.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <a href="/view" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Explore the data</a>
        <a href="/blog" class="btn btn-outline-secondary btn-lg px-4">View the blog</a>
      </div>
    </div>
  </div>
</div>